- @title = "JMDict search results: #{query}"
:javascript
  $(function() {
    $(".senses .sense:not(:first-child)").addClass("left_line");
    $(".sidebar .kanji:not(:first-child)").addClass("left_padding");
    $(".entry:even").addClass("striped");
  });
.two-col
  = partial "jmdict/searchbar", :locals => {:query => query, :langs => langs}
  - if error
    .error= error_message
  - if query.empty?
    %p.ui-state-highlight.ui-corner-all
      %span.ui-icon.ui-icon-info{:style => "float: left; margin-right: 0.3em;"}
      Please enter a query above.
  - else
    = partial "pagebar", :locals => paging
    = partial "jmdict/result", :collection => results, |
        :locals => { :detail_url => detail_url}        |
    = partial "pagebar", :locals => paging
