.entry
  .clear
  .sidebar
    .headword= result[:kanji]
    U#{result[:unicode_hex]}
    %a{:href => detail_url + result[:kanji_text], :target => "_blank"}
      (XML)
  .main
    .readings
      #{result[:japanese]}
      - if result[:nanori]
        %br
        Name readings: #{result[:nanori]}
    .senses
      = result[:senses].join("; ")
    .xrefs
      Cross-references:
      = partial "kanji/dic_index", :collection => result[:dic_refs]
  .clear
