- @title = "KANJIDIC search results: #{query}"
:javascript
  $(function() {
    $(".senses .sense:not(:first-child)").addClass("left_line");
    $(".sidebar .kanji:not(:first-child)").addClass("left_padding");
    $(".entry:even").addClass("striped");
  });
.two-col
  = partial "kanji/searchbar", :locals => {:query => query}
  - if error
    .error= error_message
  = partial "pagebar", :locals => paging
  = partial "kanji/result", :collection => results, |
      :locals => { :detail_url => detail_url}          |
  = partial "pagebar", :locals => paging
